---
layout: default
description: "Spinoff on the 'the right way' idea to explain the HTML/CSS basics for the self-taught."
---

{% capture welcome_content %}{% include welcome.md %}{% endcapture %}
{{ welcome_content|markdownify }}

{% capture backtotop %}[Back to top](#top){.top}{% endcapture %}

{% for post in site.posts reversed %}
    {% if post.isChild != true and loop.first != true %}
    {{ backtotop|markdownify }}
    {% endif %}
    <div id="{{ post.title | downcase | replace:' ','_' | replace:'(','' | replace:')','' | replace:'.','' | replace:'-','' }}">
    {{ post.content }}
    </div>
{% endfor %}

{{ backtotop|markdownify }}

<hr />
