<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% if page.title %}{{ page.title }} - {% endif %}HTML CSS: The Right Way</title>
        <meta property="og:title" content="HTML CSS: The Right Way">
        <meta property="og:site_name" content="HTML CSS: The Right Way">
        <meta name="description" property="og:description" content="{{ page.description }}">
        <meta property="og:url" content="http://www.htmlcsstherightway.org">
        <meta property="og:type" content="website">
        <meta name="robots" content="index,follow,archive">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alfa+Slab+One|Droid+Serif:400,700">
        <link rel="stylesheet" href="/assets/css/all.css">
        <link rel="stylesheet" href="/assets/css/syntax.css">
    </head>
    <body>
        <nav class="site-navigation">
            <ul>
                <li><a href="/#site-header">Welcome</a></li>
                {% assign lastIsChild = false %}
                {% for post in site.posts reversed %}
                    {% if post.isChild and lastIsChild != true %}<ul>{% endif %}
                    {% if lastIsChild and post.isChild != true %}</ul>{% endif %}
                    <li><a href="/#{{ post.title | downcase | replace:' ','_' | replace:'(','' | replace:')','' | replace:'.','' | replace:'-','' }}">{{ post.title }}</a>
                    {% assign lastIsChild = post.isChild %}
                {% endfor %}
            </ul>
        </nav>
        <div class="site-content">

            <a class="fork-me" href="https://github.com/renoirb/htmlcsstherightway">
                <img src="/assets/forkme-banner.png" alt="Fork me on GitHub!">
            </a>

            <header class="site-header" id="site-header">
                <hgroup>
                    <h1 class="site-title"><a href="/">HTML &amp; CSS</a></h1>
                    <h2 class="site-slogan">The Right Way.</h2>
                </hgroup>
                <div class="social" id="social">
                    <div class="social-share">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://htmlcsstherightway.org/" data-size="medium" data-hashtags="js">Tweet</a>
                    </div>
                    <div class="social-share">
                        <div class="g-plusone" data-href="http://htmlcsstherightway.org" data-size="medium" data-annotation="bubble" data-width="300"></div>
                    </div>
                    <div class="social-share">
                        <div class="fb-like" data-href="http://htmlcsstherightway.org" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                    </div>
                </div>
            </header>
            {{ content }}
            <footer class="site-footer" id="site-footer">
                <h2 class="epsilon">Created and maintained by</h2>
                <ul>
                    <li><a href="http://renoirboulanger.com/">Renoir Boulanger</a></li>
                </ul>

        <h2 class="epsilon">Contributors</h2>
        <div id="contributors"></div>
                <p>
                    Inspired on <a href="http://twitter.com/codeguy">Josh Lockhart's</a> project <a href="http://phptherightway.com">PHP: The Right Way</a>
                </p>
                <p class="build-date">Last update: {{ site.time }}</p>
            </footer>
        </div>
        <div id="fb-root"></div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    </body>
</html>
